@page
@model AdministracionDePersonal.Pages.Requisitos.DeleteModel
@{
    ViewData["Title"] = "Eliminar Requisito";
}
<main>

    <h1>Eliminar Requisito</h1>

<div>
    <h4>¿Está seguro que desea eliminar este requisito?</h4>
    <div>
        <h5>@Model.Requisito!.Descripcion</h5>
    </div>
    <form method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</main>
